node_modules
.direnv
yarn-error.log
out
koka/.koka

*.o
*.out
*.ll
test

*.pdf
.lsp
.clj*

pyk
pyk*
debug*.js
test*.js
dist

# Ignore compiled JS files in src (they should only be in dist)
src/**/*.js
src/**/*.js.map
